# .NET
backend/**/bin/
backend/**/obj/
backend/Sahnem.API/wwwroot/uploads/*
!backend/Sahnem.API/wwwroot/uploads/.gitkeep

# Node
frontend/node_modules/
frontend/dist/
frontend_legacy_backup/node_modules/

# OS
.DS_Store

# IDE
.vs/
.vscode/
